In [8]:
import sqlite3
conn = sqlite3.connect('web.db')
cur = conn.cursor()

cur.execute('''
CREATE TABLE Weather (
    id INT,
    recordDate DATE,
    temperature INT
)''')

data_to_insert = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data_to_insert)
conn.commit()

sql_query = """
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON date(w1.recordDate, '-1 day') = w2.recordDate
WHERE w1.temperature > w2.temperature
"""

cur.execute(sql_query)
higher_temp_dates = cur.fetchall()
cur.execute(sql_query)
results = cur.fetchall()

print(results)

[(2,), (4,)]